* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Antonio, sans-serif;
}

:root{
    --bg-color :#060606;
    --second-color : #131313;
    --top-font: #5271ff;    
    --hot-pink: #ff07a9;
}

@font-face {
    font-family: Antonio;
    src: url(Antonio-Regular.ttf);
}

html {
    font-size: 60%;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: var(--top-font);
    border-radius: 10px;
}

body{
    /* background-color: var(--bg-color); */
    background-color: var(--bg-color);
}

.header{
    width: 100%;
    padding: 2rem 12%;
    position: fixed;
    max-height: fit-content;
    max-width: 100vw;
    max-height: 13%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    font-size: 3.2rem;
    z-index: 1000;
}

.logo{
    color: var(--top-font);
    transition: 0.3s ease;
}

.header .logo:hover{
    scale: 1.176;
    /* box-shadow: 0 0 8px 8px var(--top-font); */
}

/* #demo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

#menuIcon{
    font-size: 3.6rem;
    color:var(--top-font);
    display: none;
}

.hwrap{
    display: flex
}
.navbar a{
    font-size: 1.8rem;
    margin-left: 4rem;
    font-weight: 500;
    color: var(--top-font);
    transition: 0.2s ease-in-out;

}

.navbar{
    padding-right: 30px;
    transform: translateY(-3px);
}

.navbar a:hover{
    border-bottom: 1px solid var(--top-font);
    color: var(--top-font);
}

.register_btn{
    background-color: var(--top-font);
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 175;
    border: 3px solid var(--top-font);
    border-radius: 10px;
    transition: 0.4s ease;
}

.register_btn a{
    color: black;
}

.register_btn:hover{
    border-radius: 0%;
    border: 3px solid var(--top-font);
    background: transparent;
} 

.register_btn:hover a{
    color: var(--top-font);
}

section{
    min-height: 100vh;
    padding:10rem 12%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    background-image: url('https://lh3.googleusercontent.com/pw/AP1GczM9yxGzoX5O0lENMXidVO45JEAK7JS2mFTxKG0fMfWGTui274kL3aWcJCODrwgn4FAkLWJ4NOVmeqagvZYihuNVu7mfR1DbVAAqts5tng8PdJ9BZqA=w2400');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px 8px #1d1d1d inset;
    background-size: cover;
    background-blend-mode:darken;
    animation: header-image-animation linear;
    animation-timeline: view();
}

.home h1{
    font-family: Antonio, sans-serif;
    color: #ffffff;
    white-space: nowrap;
    font-weight:100;
    letter-spacing: 3vw;   
    margin-inline: auto;
    padding-left: 3vw;
}


.home h6{
    font-family: Antonio, sans-serif;
    color: white;
    margin:auto;  
    font-size: 3rem;
    text-align: center; 
}

.home .wrapper{
    font-size: 4vw;
    margin-inline: auto;
}

#demo{
    color: var(--top-font);
    font-family:'Times New Roman', Times, serif;
    font-size: 4rem;
}
/* 
.about{
    color: #ffffff;..
    font-size: 3.3rem;
    display: flex;..
    align-items: center;..
    justify-content: center;..
    gap: 10rem;..
    background-image: url(bg_abt.jpg);..
    background-repeat: no-repeat;..
    background-size: cover;..
    filter:blur();
    max-width: 100%;
} */

/* 
.about {
    color: #ffffff;
    display: flex;
    background-image: url(bg_abt.jpg);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10rem;
    font-size:3.3rem;
    max-width:80vw;
    margin-inline: auto;

}

.about-content{
    text-align: right;
    animation: fade-in linear;
    animation-timeline: view();
}

.about .wrapper{
    display: flex;
    max-width: 90vw;
    margin-inline: auto;
    background-color: yellowgreen;
}

.about h3{
    white-space: nowrap;
}

.about img{
    animation: fade-in linear;
    animation-timeline: view();
    transition: 0.3s ease;
    width: 24vw;
}

.about img:hover{
    scale: 1.3;
} */


.about {
    color: #ffffff;
    display: flex;
    background-image: url(bg_abt.jpg);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10rem;
    font-size: 3.3rem;
    max-width: 100vw;
    margin-inline: auto;
    /* background-color: hotpink; */
    overflow: hidden;
}

.about-content {
    text-align: right;
    max-width: 100vw; 
    overflow-wrap: break-word; 
    animation: fade-in linear;
    animation-timeline: view();
    min-height: fit-content;
    
}

.about .wrapper {
    display: flex;
    max-width: 100%; 
    margin-inline: auto;
}

.about h3 {
    white-space: normal; 
}

.about img {
    animation: fade-in linear;
    animation-timeline: view();
    
    width: 24vw;

    
    transition: 0.3s ease;
}

.about .logo:hover {
    transform: scale(1.1);
}

/* .about .wrapper {
    text-align: right;
    animation: fade-in linear;
    animation-timeline: view();
    background-color: #ff07a9;
    max-width: 100%;
    min-width: fit-content;
    margin-left: 10px;
} */

.about-text{
    font-size: 2rem;
}

span{
    color: var(--top-font);
}

.scroll {
    height: 5000px;
    width: 100px; 
    background-color:var(--top-font);  
}

.faq{
    display: flex;
}
.embossed{
    border-radius: 5%;
    background-color: black;
    color: white;
    box-shadow: 0 0 8px 8px #515057;
    height: 250px;
    width: 250px;
    font-size: 2rem;
    text-align: center;
    margin-inline: auto;
    transition: 0.4s ease-in-out;

}

.embossed:hover{
    scale: 1.15;
    box-shadow: 0 0 10px 10px var(--top-font);
    color: var(--top-font);
}

.faq .embossed h2{
    margin-inline: auto;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(300px);
    }

    40%,
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes header-image-animation {
    0%,
    45% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 1271px){
    .home{
        animation: none;
    }
}



@media (max-width: 1025px){
    /* *{
        overflow: hidden;
    } */
    
    .home{
        animation: none;
    }
    
    #menuIcon{
        display: block;
    }

    .about .wrapper{
        flex-direction: column-reverse;
        min-height: fit-content;
    }
    
    .about-content{
        text-align: center;
        min-height: fit-content;
    }

    .about .logo{
        margin-inline: auto;
    }
    .navbar{
        display: none;
        top:100%;  
        position: absolute;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: var(--second-bg-color);
        border-left: 1px solid var(--main-color);
        border-bottom: 1px solid var(--main-color);
        border-bottom-left-radius: 2rem;
    }

    .navbar .active{
        display: block;
    }
}
